/* font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* components  */
@layer components {
  .body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #424769;
  }

}

@layer utilities {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b,
  blockquote {
    color: #424769;
  }

  a {
    @apply font-medium;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl w-full mx-auto px-5;
  }
}